# Assignment 2

**Data Cleaning**

**Part A:** Handling Missing Values

**Part B:** Removing the units from the attributes.
We check for missing values and impute them based on each columns data

Handling the missing values:

**Mileage:** 2 missing values. Given the minimal missing data, we can impute with the mean.

**Engine:** 36 missing values. We can impute using the median, as engine size tends to have a normal distribution.

**Power:** 36 missing values. Imputation with the median is likely appropriate for similar reasons.

**Seats:** 38 missing values. Imputation with the mode is suitable, as seat count is often categorical.

**New_Price:** 5032 missing values, making up most of this column. Given the large proportion, we should drop this column due to lack of data.

In [5]:
# Load dataset and import libraries
import pandas as pd
file_path = 'train.csv'
data = pd.read_csv('/content/train.csv',index_col = 0)

# Check the missing values
missing_values = data.isnull().sum()
missing_values

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

Remove units from 'Mileage', 'Engine', and 'Power' columns and keep only numerical values.

Impute missing values with suitable methods.

In [6]:

data['Mileage'] = data['Mileage'].str.extract('(\d+\.?\d*)').astype(float)
data['Engine'] = data['Engine'].str.extract('(\d+\.?\d*)').astype(float)
data['Power'] = data['Power'].str.extract('(\d+\.?\d*)').astype(float)
data['New_Price'] = data['New_Price'].str.extract('(\d+\.?\d*)').astype(float)



data['Mileage'] = data['Mileage'].fillna(data['Mileage'].mean())
data['Engine'] = data['Engine'].fillna(data['Engine'].median())
data['Power'] = data['Power'].fillna(data['Power'].median())
data['Seats'] = data['Seats'].fillna(data['Seats'].mode()[0])
data[['Mileage', 'Engine', 'Power','Seats','New_Price']].head()

   Mileage  Engine   Power  Seats  New_Price
1    19.67  1582.0  126.20    5.0        NaN
2    13.00  1199.0   88.70    5.0       8.61
3    20.77  1248.0   88.76    7.0        NaN
4    15.20  1968.0  140.80    5.0        NaN
6    23.08  1461.0   63.10    5.0        NaN

In [7]:
# Drop 'New_Price' column due to excessive missing values
data.drop(columns=['New_Price'], inplace=True)

# Display the resulting data to confirm changes
data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

In [8]:
missing_values = data.isnull().sum()
missing_values

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

Cleaned Data Set

In [9]:
data.to_csv("clean_data.csv")